/10Report_q31tex_updated_06Junel2024_BTechUMIT (1) (1).zip
/10Report_q31tex_updated_11April2024_BTechUMIT
/dataset antisoppfing
/final
/Major Project Synopsis_10,39,60-2.pdf
/normalize.css
/paper 1.pdf
/paper 2.pdf
/paper 3.pdf
/paper 4.pdf
/system diagrams.pptx